* {
    text-align: center;
}

body {
    background-image: url("../images/background2.jpg");
    background-position: 0px -10px; 
    font-family: 'Raleway', sans-serif;
    color:white;
}

.container-custom {
    background-color: #386c86e8;
    border-radius: 25px;
    margin-top: 50px;
    height: 800px;
}

.padding-block {
    width: 95px;
}

.padding-row {
    height: 30px;
}

.choice-block {
    background-color: #F7DE3B;
    height: 200px;
    border-radius: 25px;
    transition: all .2s ease-in-out;
    color: #172d38;
}

.choice-block:hover {
    background-color: #F7DE3B;
    height: 200px;
    border-radius: 25px;
    transform: scale(1.06);
}

.choice-text {
    margin-top: 19%;
}

#title-heading {
    height: 140px;
    margin-top: 15px;
    border-radius: 25px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
}

#title-image {
    width: 82%;
}

/* Instructions/Start Page Formatting */
#ready-gif-row {
    margin-top: 60px;
}

#instructions-row {
    margin-top: 30px;
}

#instructions-p {
    margin-top: 15px;
}

/* Game Page Formatting */
#timer-heading {
    margin-top: 15px;
}

#question-heading {
    margin-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
}

.choice-padding-block {
    width: 60px;
}

/* Results Page Formatting */
#result-gif-row {
    margin-top: 35px;
}

#results-row {
    margin-top: 30px;
}

#next-button {
    margin-top: 15px;
}

#gif-result {
    min-width: 50%;

    min-height: 20%;


}

/* Endscreen Formatting */
#endscreen-row {
    margin-top: 125px;
}

#playagain-button {
    margin-top: 50px;
}