* {
    text-align: center;
}

body {
    background-image: url("../images/background.jpg");
    /* background-repeat: no-repeat;
    background-attachment: fixed; */
    background-position: center; 
    font-family: 'Raleway', sans-serif;
}

.container-custom {
    background-color: white;
    border-radius: 25px;
    margin-top: 50px;
    height: 800px;
}

.padding-block {
    width: 95px;
}

.padding-row {
    height: 30px;
}

.choice-block {
    /* background-color: rgb(255, 227, 66); */
    height: 200px;
    border-radius: 25px;
}

.choice-text {
    margin-top: 19%;
}

#title-heading {
    height: 140px;
    margin-top: 10px;
}

#title-image {
    width: 70%;
}

/* Instructions/Start Page Formatting */
#ready-gif-row {
    margin-top: 80px;
}

#instructions-row {
    margin-top: 20px;
}

#instructions-p {
    margin-top: 15px;
}

/* Game Page Formatting */
#timer-heading {
    margin-top: 15px;
}

#question-heading {
    margin-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
}

.choice-padding-block {
    width: 60px;
}

/* Results Page Formatting */
#result-gif-row {
    margin-top: 55px;
}

#results-row {
    margin-top: 20px;
}

#next-button {
    margin-top: 15px;
}

/* Endscreen Formatting */
#endscreen-row {
    margin-top: 125px;
}

#playagain-button {
    margin-top: 50px;
}